.hero-section{
    width: 100%;
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 30px;
}

.landing-img{
    padding-top: 10vh;
    height: 60%;
}

.hero-title{
    width: 50%;
    text-align: center;
    font-family: var(--titleFont);
    font-size: 3.6rem;
    font-weight: 100;
}

.arrow{
    height: 10%;
}